<h2> Galleries </h2>

<div class="row">
  <div class="col-md-12">
    <%= link_to 'New Gallery', new_gallery_path, class: 'btn btn-primary' %>

    <%= link_to 'Tags', tags_path, class: 'ms-3 btn btn-info' %>
  </div>
</div>

<h5> Search Galleries </h5>
<%= search_form_for @q do |f| %>
  <%= f.label :name_cont %>
  <%= f.search_field :name_cont %>

  <%= f.label :description_cont %>
  <%= f.search_field :description_cont %>

  <%= f.submit 'Search', class: 'btn btn-primary' %>
  <%= link_to 'Clear Filter', galleries_path, class: 'btn btn-secondary' %>    
<% end %>


<table class="table table-striped">
	<thead>
		<tr>
			<th>Gallery Name</th>
			<th>Gallery Description</th>
    </tr>
  </thead>
  <tbody>
    <% @galleries.each do |gallery| %>
      <tr>
        <td> <%= link_to gallery.name, gallery_path(gallery) %> </td>

        <td> <%= gallery.description %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="row">
  <div class="col-12 col-md-9">
    <%= paginate @galleries %>
  </div>
  <div class="col-12 col-md-3">
    <%= page_entries_info @galleries %>
  </div>
</div>
